.jumbotron {
  padding-top: 5rem;
  background-image: url(img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.jumbotron h1 {
  color: rgb(3, 138, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron p {
  color: brown;
  font-weight: bold;
}

#profil {
  background-image: url(img/bg1.png);
}

#program {
  background-color: rgb(82, 179, 198);
}

#fasilitas {
  background-image: url(img/bg1.png);
}

#footer {
  background-color: rgb(4, 141, 168);
}

section {
  padding-top: 4rem;
}
